[Unit]
Description=Wudger Pipeline
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
ExecStart=bash /home/stanislav/projects/own/wudger/pipeline.sh -d up
ExecStop=bash /home/stanislav/projects/own/wudger/pipeline.sh stop

[Install]
WantedBy=multi-user.target
