[Unit]
Description=Wudger Pipeline
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
TimeoutStartUSec=10min
ExecStart=bash /opt/wudger/pipeline.sh -d up
ExecStop=bash /opt/wudger/pipeline.sh stop

[Install]
WantedBy=multi-user.target
