[Unit]
Description=MERN Pipeline example.com
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
TimeoutSec=1000
ExecStart=mern-pipeline up -d \
        --domain example.com \
        --api-repository https://github.com/woodger/mern-pipeline \
        --web-repository https://github.com/woodger/mern-pipeline \
        /var/www/example.com
ExecStop=mern-pipeline stop /var/www/example.com

[Install]
WantedBy=multi-user.target
