[Unit]
Description=MERN Pipeline
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
TimeoutStartUSec=10min
ExecStart=mern-pipeline up -d /app
ExecStop=mern-pipeline stop /app

[Install]
WantedBy=multi-user.target
