[Unit]
Description=MERN Pipeline for example.com
After=network.target

[Service]
Type=forking
RemainAfterExit=yes
TimeoutSec=1000
ExecStart=mern-pipeline start -d \
  --port 8080 \
  --api-repository https://github.com/woodger/mern-pipeline \
  --web-repository https://github.com/woodger/mern-pipeline \
  /var/www/example.com
ExecReload=mern-pipeline reload -d \
  --port 8080 \
  --api-repository https://github.com/woodger/mern-pipeline \
  --web-repository https://github.com/woodger/mern-pipeline \
  /var/www/example.com
ExecStop=mern-pipeline stop /var/www/example.com

[Install]
WantedBy=multi-user.target
